{%extends 'base.html'%}

{%block content%}
<div class="row mt-5 p-5 shadow rounded border border-primary w-75">
    <div class="col d-flex">
        <img src="https://static.bhphotovideo.com/explora/sites/default/files/styles/bnh_collage/public/bnh_collage/tsc/346x231_640x480_7b_6170221.jpg?itok=cIF1fg9h&focal_point=640,480" class='img-fluid rounded' alt="" srcset="">
    </div>
    <div class="col white-background">
        <form action="" class="row g-3" method="POST">
            {{ form.hidden_tag() }}
            <h3>Sign In</h3>
            <div class="col-12">
                {{ form.email.label }}
                {{ form.email(class='form-control mt-2', placeholder='jdoe@gmail.com' ) }}
                {% for error in form.email.errors %}
                    <span class="err-msg"> {{ error }}</span>
                {% endfor %}
            </div>
            <div class="col-6">
                {{ form.password.label }}
                {{ form.password(class='form-control mt-2', placeholder='password' ) }}
                {% for error in form.password.errors %}
                    <span class="err-msg"> {{ error }}</span>
                {% endfor %}
            </div>
            <div class="col-12">
                {{ form.submit(class='btn btn-primary') }}
            </div>
        </form>
    </div>
</div>



{%endblock content%}