<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="../static/css/main.css">
<title>Image Pro Galleries</title>
</head>
<body>
    

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>
<nav class="main-navbar">
        <a class="navlink big-txt" href="/">Image Pro Galleries</a>
        <button class="navbtn"> <a class="navlink"  href="/">Home</a></button>

        {% if current_user.is_authenticated %}
        <button class="navbtn"> 
            <a class="navlink"  href="/logout">Log Out</a>
        </button>
        {%else%}
        <button class="navbtn"> 
            <a class="navlink"  href="/signup">Sign Up</a>
        </button>
        <button class="navbtn">
             <a class="navlink" href="/signin">Sign in</a>
        </button> 
        {%endif%}
</nav>