
<nav class="main-navbar">
        <a class="navlink big-txt" href="/">Image Pro Galleries</a>
        <button class="navbtn"> <a class="navlink"  href="/">Home</a></button>

        {% if current_user.is_authenticated %}
        <button class="navbtn"> 
            <a class="navlink"  href="/logout">Log Out</a>
        </button>
        {%else%}
        <button class="navbtn"> 
            <a class="navlink"  href="/signup">Sign Up</a>
        </button>
        <button class="navbtn">
             <a class="navlink" href="/signin">Sign in</a>
        </button> 
        {%endif%}
</nav>